{% extends "base.html" %}

{% block title %}
Contact form
{% endblock %}

{% block content %}
    {%  if form.errors %}
<p style="color: red;"> Please correct the errors: {{ form.errors|pluralize }} </p>
    {%  endif %}

<form action = "" method = "post">
{% csrf_token %}
    <table>
<tr><td>
    <lablel for="id_subject">Subject:</lablel></td>
    <td>{{ form.subject }}</td>
    <td>{{ form.subject.errors }}
    </td>

    <tr><td>
    <lablel for="id_subject">Your e-mail:</lablel> </td>
    <td>{{ form.email }} </td>
    <td>{{ form.email.errors }}
    </td>

    <tr><td>
    <lablel for="id_subject">Message:</lablel> </td>
    <td>{{ form.message }}</td>
    <td>{{ form.message.errors }}
    </td>
</table>
<input type="submit" value="Submit">
</form>
{% endblock %}